.rp-header,
.rp-footer {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.rp-aside {
  color: #333;
}

#chang-jian-ye-mian-bu-ju + .demo-container {
  .rp-header,
  .rp-footer {
    text-align: center;
  }

  .rp-aside {
    background-color: #d3dce6;
    text-align: center;
    line-height: 200px;
  }

  .rp-main {
    background-color: #e9eef3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }

  & > .source > .rp-container {
    margin-bottom: 40px;

    &:nth-child(5) .rp-aside,
    &:nth-child(6) .rp-aside {
      line-height: 260px;
    }

    &:nth-child(7) .rp-aside {
      line-height: 320px;
    }
  }
}
